<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Font Titillium -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <!-- Axios library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>My netflix</title>
    <link rel="icon" type="image/jpg" href="img/title-icon.jpg"/>
</head>

<body>
    <div id="root">
        <div class="container">

            <!-- HEADER -->
            <header>
                <div class="header-content">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img class="pointer" src="img/Netflix-Logo.png" alt="Netflix logo"></a>
                        
                    </div>
                    <!-- Searchbar -->
                    <div class="searchbar">
                        <input type="text" v-model="inputUtente" @keyup.enter="searchUtente" placeholder="Cerca un titolo">
                        <i class="pointer fas fa-search" @click="searchUtente"></i>
                        <img class="pointer flag" src="img/flag-italy.png">
                        <img class="pointer flag" src="img/flag-uk.png">
                    </div>
                </div>
            </header>

            <!-- MAIN -->
            <main>
                <div class="main-container">
                    <!-- Prossime uscite(default) o risultato ricerca -->
                    <div class="main-title">
                        <h1>{{ titleH1 }}</h1>
                    </div>

                    <!-- Cards -->
                    <div class="main-card">
                        <!-- Accediamo al singolo video (elemento film o serieTV) contenuto nell'array -->
                        <div class="card" v-for="video in showVideo">
                            <div class="content-card">
                                <!-- Immagine card -->
                                <div class="image-card">
                                    <!-- Se l'immagine non è presente o undefined mettiamo una img preview provvissoria -->
                                    <img v-if="video.poster_path == '' || video.poster_path == undefined" src="img/empty.png">
                                    <!-- Altrimenti l'immagine viene ricavata dalla richiesta -->
                                    <img v-else :src=`https://image.tmdb.org/t/p/w342/${video.poster_path}`>
                                    
                                    <!-- Description text -->
                                    <div class="text-card pointer">
                                        <!-- Title video, mostro il titolo del film o della serie TV (hanno 2 chiavi diverse)
                                        Se il nome è del film(title) mostralo, altrimenti mostra quello della serieTV(name) -->
                                        <p class="title">{{ video.title ? video.title : video.name }}</p>
                                        <!-- Mostra anche il titolo originale, se del film o della serie TV -->
                                        <p v-if="video.title != video.original_title || video.name != video.original_name">
                                            "{{ video.original_title ? video.original_title : video.original_name }}"
                                        </p>

                                        <!-- Tipologia risultato, film o serieTV -->
                                        <p> {{ video.media_type || type }} </p>
                                        
                                        <!-- Stars rating -->
                                        <div class="stars">
                                            <!-- Mostra quante stelle gialle/bianche in base al rating calcolato su 5 (per eccesso) -->
                                            <i class="fas fa-star yellow" v-for="star in yellowStars(video.vote_average)"></i>
                                            <!-- Se non c'è valutazione o è "undefined" mostra solo stelle bianche -->
                                            <i class="fas fa-star" v-for="star in whiteStars(video.vote_average)"></i>
                                        </div>

                                        <!-- Overview -->
                                        <div class="overview-content">
                                            <br>

                                            <!-- Description -->
                                            <p class="overview"> <em>"{{ video.overview }}"</em> </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            

            <!-- FOOTER ? -->
            <footer></footer>
        </div>
    </div>

    <!-- Date/time -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>